# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#  google login
# client id 804267482082-d6nsm6snr43b6v7be897fdii1pht6uc6.apps.googleusercontent.com
# client secret khIHw_7gfSmTXLRMem69Q-ik