
/* basic set up */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
#app-container {
    width: 100%;
    margin: 0px;
    margin-left: 4%;
}
#root { 
    height: auto;

}

.container { 
    margin-left: 0;
    margin-right: 0;
    margin: 0;
 

}
html, body { 
    background: rgb(241, 240, 234);
    background: linear-gradient(62deg, rgba(255, 255, 255, 0.911) 0%, rgb(252, 251, 246) 100%);    height: auto;
    /* display: flexbox; */
}
/* 
.MuiGrid-container
 {
     background: rgb(235, 235, 233);
     height: auto;
     border-radius: 2%;
     margin-bottom: 12px;
    
} */

.MuiAppBar-colorPrimary	{

   color: black  !important;
   background: rgb(238, 236, 230) !important; 

}
.bg-dark {
   border-radius: 130px;
   box-shadow: 0 2px 2px rgb(187, 181, 181);
}
.navbar-collapse { 
    justify-content: space-between;
    font-size: 120%;
    color:blanchedalmond;
}

#login-btn { 
    float: left;
    color: rgba(184, 174, 174, 0.918);
    justify-content: flex-start;
    margin-right: auto;

} 
.bg-light { 
    background-color: rgba(170, 165, 165, 0.993) !important;
}
header { 
    padding-bottom: 20px;
    margin-bottom: 40px;
}
#left-nav { 
    justify-content: start;
}


/* forms ********************* */
/* 
.formContainer { 

    background: rgba(228, 228, 221, 0.884);
    height: auto;
    border-radius: 2%;
    margin-bottom: 12px;


} */





.form-group { 
    width: 100%;
    padding-top: 20px;
    margin-left: 25px;
}
#formGrid { 
    margin-left: 25px;
}
#name { 
    width: 55%;
}
#ingridents {
    width: 55%;
}
#description { 
    width: 65%;
}
#formIng { 
    width: 25%;
}
#cookingTime { 
    width: 35%;
}
#formPic { 
    width: 55%
}

#masterForm { 
    width: 100%;
    height: 220px;
margin-bottom: 30px;
}

/* ************CARD */

#user-p {
    margin-bottom: 0px;
}
#typ { 
    white-space: pre;

}

/* pic setting */
.MuiCardMedia-root {
        opacity: 0.99;
        overflow: hidden;
        transform: scale(0.95);
        transition: transform 0.6s , opacity 0.4s;
        padding-bottom: 20px;
    }
    
    .MuiCardMedia-root:active { 
        transform: scale(1.1);
        opacity: 1.3;
    }

    /* heart color */

/* 
.MuiIconButton-label { 
    color: red;
} */


.MuiIconButton-label:hover { 
    color: blue;
}


.MuiIconButton-label:visited { 
    color: blue;
}




.MuiIconButton-label:active { 
    color: blue;
}


/* ****************show singlerecipe***** */
/* clock */
#ns {  background: rgb(241, 236, 212);
    background: linear-gradient(62deg, rgba(236, 236, 233, 0.911) 0%, rgb(252, 251, 246) 100%);    height: auto;
}


/* showing the data */
#ShowData { 
    white-space: pre;
    font-size: 200%;
    font-weight: 500;
    font-family: sans-serif;
}
#first-paper { 
    padding-top: 0px !important;
    margin-top: 0px;
    height:fit-content;
}
#ingCon { 
    margin-top: 9px ;
    margin-bottom: 9px;
    margin-left: 19px;
    width: max-content;
}

#photoCon { 
    justify-content: center !important;

    margin-top: 6px ;
margin-right: 10px;

}
img {  
    width: 300px;
    height: 300px;
    object-fit: fill;
    transform: scale(1.2);
    transition: transform 0.6s , opacity 0.7s;

}
img:active { 
    transform: scale(1.8);
}


/*  register Form  ***** */

#registerItem { 
    justify-content: center !important;


}
#RegisterButton { 
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center !important;

}

#mainReview { 
    justify-content: center !important;
    white-space: pre;

}


/* 
#MuiButton-contained reviewButton { 
    background-color: blue !important;
} */

/* review button color
.MuiButton-containd.reviewButton { 
    background-color: blue !important;

} */